.App {
  text-align: center;
}

.home-wrapper {
  display: flex;
  flex-direction: row;
}

 h1 {
  font-family: 'Koulen',
  cursive;
  color: #0f252e;
  font-size: 7rem;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  padding: 0 5px 5px 5px;
  margin: 0 5px 5px 5px;
  letter-spacing: 35px;
  text-shadow: 5px 8px rgb(215, 234, 75);
}

.header {
  font-family: 'Koulen';
  text-transform: uppercase;
  letter-spacing: 20px;
  color: rgb(215, 234, 75);
  padding: 10px;
  margin-right: 20px;
   position: absolute; 
   right: 0px;
    top:0px;
}


.title {
 font-family: 'Koulen', cursive;
 font-size: 3rem;
 animation: spacing 2s 1;
 animation-delay: 0.5s;
 margin: 25px;
}

@keyframes spacing {
  50% {
    letter-spacing: 10px;
  }
}

.home {
  background-image: url('common/Ceikjns3KrnhanGxOIQq--1--z2bad.jpg');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  min-height: 900px;
  min-width: 400px;
  padding-bottom: 20px;
}


.navbar {
  background-color: rgb(215, 234, 75);
  font-size: 20px;
  padding: 10px;
  text-align: left;
}

.nav-item {
  text-decoration: none;
  color: black;
  padding: 10px;
  margin: 15px;
}

.nav-item:hover {
  background-color: rgb(230, 240, 156);
}

.home-link {
  padding: 15px;
  font-size: 20px;
  margin: 0 20px;
  background-color: rgb(215, 234, 75);
  width: 200px;
  border-radius: 15px;
   box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
}

.home-link:hover {
   background-color: #eef736;
}

.link {
text-decoration: none;
color: black;
}

.link-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 18px;
  
}

@media (max-width: 480px) {
  .home-container {
    flex-direction: column;
    justify-content: center; 
    margin: 30px 10px 10px 10px;
  }

  .home-link {
    margin: 20px;
  }

  .home {
    width: 100%;
    height: 100%;
    background-image: url('common/hiker-smaller.jpg');
    background-size: 100% 100%;
  }

  .home-container {
    gap: 4px;
  }

  h1 {
    font-size: 5rem;
    letter-spacing: 10px;
  }

  .header2 {
    font-size: 3.5rem !important;
    letter-spacing: 4px !important;
  }

}

@media (max-height: 680px) {
  .home-container {
    justify-content: center; 
    margin-bottom: 40px;
  }

  .home-link {
    width: 180px;
    padding: 10px;
  }

  .home {
    min-height: 680px;
  }
}





/* ****************************** register ***************************************** */

.form {
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 10px;
  width: 450px;
  min-height: 400px;
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.centered2 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.centered3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}



.sub-btn {
    padding: 10px;
    font-size: 16px;
    margin: 20px;
    background-color: rgb(215, 234, 75);
    width: 200px;
    border-radius: 15px;
    color: black;
    border:none;
}

.sub-btn:hover {
 background-color: #eef736;
 outline:none;
}

.input1 {
  outline:none;
  border:none;
  padding: 5px;
  margin: 5px;
  min-width: 270px;
  height: 27px;
  border-radius: 10px;

}

@media (max-width: 480px) {
  .form {
    width: 350px;
  }
   h1 {
    font-size: 5rem;
    letter-spacing: 10px;
    line-height: 1.5em;
  }
}

@media (max-height: 700px) {
 .form {
   min-height: 350px;
   margin-bottom: 30px;
   margin: 0 auto;
 }
 .input1 {
   height: 20px;
 }

  h1 {
    font-size: 5.5rem;
    letter-spacing: 10px;
  }
}

/* ************************************* login ****************************************/
.login-form {
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 10px;
  width: 450px;
  min-height: 260px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.welcome {
  font-family: 'Pacifico', cursive;
  font-size: 27px;
}

.home-text {
  color: #2f3d34
}

@media (max-width: 480px) {
  .form {
    width: 350px;
  }
}


/********* posts */



img {
  max-height: 360px;
  margin: 5px 5px 0 5px;
 }

 @media (max-width: 480px) {
  img {
    max-width: 372px;
  }
}

.post-title {
  font-family: 'Koulen',
  cursive;
  font-size: 50px;
  padding: 10px 25px;
  box-shadow: rgba(0, 0, 0, 0.85) 0px 5px 15px;
  border-radius: 20px;
  background-color: rgb(215, 234, 75);
  margin: 25px;
}

.img-map {
  border: 15px solid white;
  width: 700px;
  box-shadow: rgba(0, 0, 0, 0.85) 0px 20px 15px;
}



.land {
  height: 400px;
  width: 500px;
  border: 15px solid white;
  box-shadow: rgba(0, 0, 0, 0.85) 0px 20px 15px;
  margin: 10px 10px 20px 10px;
}

.post-content {
  font-size: 20px;
  background-color: white;
  width: 500px;
  padding: 20px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.85) 0px 5px 15px;
}

.rating {
  font-size: 18px;
  background-color: white;
  width: 400px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.85) 0px 5px 15px;
  border-radius: 20px;
  background-color: rgb(215, 234, 75);
  margin: 20px;
  display: block;
}



.grid-title {
  font-size: 20px;
  font-family: 'Roboto Flex',
  sans-serif;
  font-weight: bold;
}

/* ************add post */

.post-wrapper {
  min-height: 760px;
}

.row-stack {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.submit-form {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    padding: 25px;
    margin: 20px;
    width: 450px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.input {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    width: 280px;
}


h2 {
  font-size: 30px;
    font-family: 'Roboto Flex',
      sans-serif;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 20px;
  
}

h3 {
  font-size: 20px;
  font-family: 'Roboto Flex',
    sans-serif;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 20px;
}

.hike-names {
  font-size: 24px;
  font-weight: bolder;
}


.delete {
  margin-bottom: 30px;
   box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
}

.delete:hover {
 background-color: #ff482b;
}

.stopwatch-btn {
  margin: 20px;
  padding: 15px 25px;
  background-color: rgb(215, 234, 75);
  border: none;
  font-size: 20px;
  font-family: 'Roboto Flex',
  sans-serif;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
}

.stopwatch-btn:hover {
  background-color: #eef736;
  
}

.nums {
  margin-top: 20px;
}

.weather-item {
  font-family: 'Pacifico', cursive;
  font-size: 24px;
}

.weather-icon {
  height: 65px;
  width: 65px;
}


 @media (max-width: 480px) {
.comment-text {
  font-size: 5rem;
  letter-spacing: 10px;
  line-height: 1.5em;
 }
 }

/* ****************************   common   ********************/


 @media (max-width: 480px) {
.header-text {
  font-size: 5rem;
  letter-spacing: 10px;
  line-height: 1.5em;
 }

 .submit-form, .wrapper{
   max-width: 360px;
 }

 .link-btn {
   margin: 0 auto;
 }

 .link-container {
   max-width:360px;
   margin: 0 auto;
 }
  .subheading {
    line-height: 1.5em;
  }

 }

 @media (max-height: 700px) {
  .subheading {
    font-size: 4.5rem
  }
}

.hov:hover {
  color: rgb(215, 234, 75) !important;
  background-color: #FFF !important;
}

.nav {
  text-decoration: none;
  color: #eef736;
  padding: 0 15px 0 0;
  margin: 0 15px 0 0;
}

.grid-item {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 15px;
  min-width: 350px;
}


.directions {
  margin: 0 auto;
  padding: 15;
  font-size: 24px;
  font-family: 'Koulen',
    cursive;
    color: #2f3d34 !important;
    text-decoration: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 200px;
    border-radius: 5px;
}

.directions:hover {
  color: rgb(215, 234, 75) !important;
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
}

.footer {
  height: 35px;
}

.comment-container {
  margin: 5px;
  padding: 5px;
}

.comments-text {
  font-family: 'Koulen',
    cursive;
    color: black !important;
    background-color: rgb(215, 234, 75) !important;
    margin-bottom: 10px;
}

.comments-text:hover {
  background: #eef736 !important;
}

.comment-item {
  margin: 0 0 0 5px;
}

.timer {
  font-family: 'Koulen';
  font-size: 1.5rem;
  color: #2f3d34;
}

.link-container {
    backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  width: 450px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
    backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  width: 450px;
  min-height: 270px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.link-btn {
    padding: 10px;
    font-size: 16px;
    margin: 0 auto;
    background-color: rgb(215, 234, 75);
    width: 200px;
    border-radius: 15px;
    color: black;
    border:none;
    text-decoration: none;
    display: flex;
  align-items: center;
  justify-content: center;
}

.link-btn:hover{
  background-color: #eef736;
}

.subheading {
    font-family: 'Koulen',
  cursive;
  color: #0f252e;
  font-size: 5rem;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  padding: 0 5px 5px 5px;
  margin: 0 5px 5px 5px;
  letter-spacing: 5px;
  text-shadow: 5px 8px rgb(215, 234, 75);
}

.subheading2 {
    font-family: 'Koulen',
  cursive;
  color: #0f252e;
  font-size: 3rem;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  padding: 0 5px 5px 5px;
  margin: 0 5px 5px 5px;
  letter-spacing: 5px;
  text-shadow: 5px 8px rgb(215, 234, 75);
}

.icon {
  padding: 2px;
  margin-left: 5px;
}




.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.back-btn {
  margin: 0 auto;
  padding: 15;
  font-size: 24px;
  font-family: 'Koulen',
    cursive;
    color: #2f3d34 !important;
    text-decoration: none;
    width: 200px;
}

.back-btn:hover {
   color: #eef736 !important;
}

.error-msg {
   font-size: 18px;
   color: #ff482b;
}

